body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 100vh;
    background-color: black;
    max-width: 40rem;
    margin: 0;
    padding: 0;

}

h1{
    font-size: 1.5rem;
    color: #9900ff;
    padding: 1rem;
    margin: 1rem;
    text-align: center;
}
img{
    display:  inline;
    width: 35px;
    margin-top: 10px;
    border-radius: 5px;
}
div{
    background-color: rgb(27, 27, 27);
    border-radius: 20px;
}
div img{
    width: 100px;
    border:rgb(27, 27, 27) 1px solid;
    margin-bottom: 10px; 
}
/*img:hover{
    border-bottom:3px solid #9900ff;
}*/

p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1rem;
    padding: 1rem;
    margin: 1rem;
}
ul, ol, li{
    font-size:.9rem;
    list-style: none;
    padding: 0 .6rem .7rem;
    margin:0;
    text-align: left;
    
}
/*Hover effect navbar*/
nav li:hover{
    border-bottom:#9900ff 3px solid;
}

a{
    text-decoration: none;
    /*padding: 1rem;*/
    margin: 0;
    display: inline flex;
    color: white;
}

nav{
    min-height: 1rem;
    max-width: 40em;
    text-align: center;
    background-color: rgb(61, 61, 61);
    border-radius: 20px;
}
nav li{
    display: inline;
    justify-content: center;
    padding: .5rem;
    margin-top: 10px;
    font-size: large;
    color:white;
}
nav ol{
    text-align: center;
}



/* Content */
content{
    border: 2px black solid;
   
}
main{
    border: 2px black solid;
    border-radius: 20px;
    background-color: rgb(22, 22, 22);
    color: white;
    text-align: center;
    padding:.5rem;
    margin:.5rem;
}
.PTI img{
    background-color: white;
    border-radius: 5px;
    border: 2px solid;
    width: 10rem;
}
.about h1{
    color: #9900ff;
}
.about p{
    
    font-size:12px;
    
}
.profile-picture{
    width: 100px;
    height: 100px;
    align-items: center;
}
.profile-picture img{
    width: 50px;
    height: 50px;
}
}
/*.about{
    background-color: rgb(27, 27, 27);
    border-radius: 20px;
   
}


.PTI{
    background-color: rgb(27, 27, 27);
    border-radius: 20px;
}

.translating{
    background-color: rgb(27, 27, 27);
    border-radius: 20px;
}
.teaching{
    background-color: rgb(27, 27, 27);
    border-radius: 20px;
}
.teaching img{
    width: 100px;
    border:rgb(27, 27, 27) 1px solid;
    margin-bottom: 10px;     
}
*/

@media screen and (min-width:600px) {
    nav{
        min-width: 82rem;
        margin-left:200px;
    }
    main{
        min-width: 82rem;
        margin-left:200px;
    }
 
}
