body{
    text-align: justify;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
div {
    margin:10px;
}
#about img{
    border-radius: 10px;
}
img{
    width: 100px;
    height: auto;
}
.get-it img{
    background-color: black;
    padding: 5px;

}
nav{
    text-align: center;
}
nav li{
    list-style-type:none;
    display: inline;
}
nav img{
    width: 50px;
    height: auto;
}
