body{
    text-align: justify;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
}
h1{
    color:yellow;
}
h2{
    text-align: center;
}
p{
    font-size: medium;
}
div {
    margin:6px;
    padding: 10px;
    background-color: black;
}
#about h1{
    text-align: center;
}
.PTI img{
        background-color: white;
        padding: 10px;
}
    
#about img{
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
img{
    width: 100px;
    height: auto;
}
.get-it img{
    background-color: black;
    padding: 5px;

}
nav{
    text-align: center;
}
nav li{
    list-style-type:none;
    display: inline;
}
nav img{
    width: 50px;
    height: auto;
}

@media screen and (min-width: 600px) {
    body{
        display: grid;
        grid-template-columns:1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 5px;
        overflow: scroll;
        margin-bottom: 0;
        height:100vh;
    }
    #about{
        margin-top: 40px;
        grid-column: 1 / 1;
        grid-row:span;
    }
    .other-jobs{
        grid-column: 2 / 3;
        grid-row: span;
    }
    .school-projects{
        grid-column: 3 / 4;
        grid-row: span;
    }
    .get-it{
        margin-top: 80px;
    }   
    nav{
        margin-top:30px;
        grid-column: 1 / 4;
        grid-row: auto;
    }
    .PTI img{
        background-color: white;
        padding: 10px;
    }

}
